:root {
  /*Основний колір*/
  --c-dark: #212121;
  --c-blue: #2196f3;
  --c-black: #000000;
  --c-gray: #757575;
  --c-white: #ffffff;
  /*Фон*/
  --bg-white: #ffffff;
  --bg-c-dark-grey: #2f303a;
  --bg-c-blue-white: #188ce8;
  --bg-c-light-gray: #f5f4fa;
  --bg-c-white: #ffffff;
  --bg-c-blue: #2196f3;
  /*Колір рамок*/
  --brd-c-gray: #eeeeee;
  --brd-c-light-gray: #ececec;
}