.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-image: url(../images/icons.svg/bgst.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  color: var(--bg-white);
  padding: 200px 0;

  @media screen and (min-width: 1200px) {
    background-image: url(../images/icons.svg/bgst.jpg);
    // @media (min-device-pixel-ratio: 2),
    //   (min-resolution: 192dpi),
    //   (min-resolution: 2dppx) {
    //   background-image: url("../images/icons.svg/bgst@2x.jpg");
    // }
  }
  @media screen and (max-width: 768px) {
    background-image: url(../images/hero-tablet.jpg);
    padding: 118px 0;
  }
  @media screen and (max-width: 480px) {
    background-image: url(../images/hero-mobile.jpg);
  }
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--c-white);

  @media screen and (max-width: 1199px) {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  @media screen and (max-width: 768px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
