.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: var(--c-blue);
  font-weight: 700;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  //  @media screen and (max-width: 767px) {
  //     display: flex;
  //     justify-content: center;
  //   }

  @media screen and (max-width: 1200px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (max-width: 768px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__part {
    font-family: "Raleway", sans-serif;
    color: var(--c-black);
    font-weight: 700;
  }
  &__footer-part {
    font-family: "Raleway", sans-serif;
    color: var(--bg-white);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 20px;
  }
}
