*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 94px 0;
  @media screen and (max-width: 1200px) {
  padding: 60px 0;
  }
}
.section-content {
  padding: 94px 0 0 0;
@media screen and (max-width: 1200px) {
  padding: 60px 0;
  }
}
.specialty-hidden{
  @media screen and (max-width: 1200px) {
  display: none;
  }
}

.team {
  background-color: var(--bg-c-light-gray);
  display: flex;
  flex-direction: column;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}